<div id="hanukkah">
	<div class="container">
		<div class="row">
			<a href="/">Back</a><br>
		</div>
	</div>
	<div class="card hanukkah">
		<h2>Happy Hanukkah!</h2>
		<div class="base"></div>
		<div class="stand"></div>
		<div class="candle one"></div>
		<div class="candle two"></div>
		<div class="candle three"></div>
		<div class="candle four"></div>
		<div class="candle five"></div>
		<div class="candle six"></div>
		<div class="candle seven"></div>
		<div class="candle eight"></div>
	</div>
</div>


<div class="container">
	<div class="row">
		<h2>HTML Code</h2>
		<xmp>
<div class="card hanukkah">
	<h2>Happy Hanukkah!</h2>
	<div class="base"></div>
	<div class="stand"></div>
	<div class="candle one"></div>
	<div class="candle two"></div>
	<div class="candle three"></div>
	<div class="candle four"></div>
	<div class="candle five"></div>
	<div class="candle six"></div>
	<div class="candle seven"></div>
	<div class="candle eight"></div>
</div>
		</xmp>

		<br><br><br>
		<h2>CSS Code</h2>
		<xmp>
.hanukkah h2 {
	position: absolute;
	top: 50px;
	text-align: center;
	width: 100%;
}

.base {
	width: 565px;
	height: 50px;
	position: absolute;
	left: 100px;
	bottom: 100px;
	background: goldenrod;
}

.stand {
	width: 80px;
	height: 100px;
	background: goldenrod;
	left: 350px;
	bottom: 0;
	position: absolute;
}

.candle {
	width: 40px;
	height: 300px;
	position: absolute;
	bottom: 150px;
	border-top: 10px solid red;
	background: goldenrod;
}

.candle.one {
	left: 100px;
}
.candle.two {
	left: 175px;
}
.candle.three {
	left: 250px;
}
.candle.four {
	left: 325px;
}
.candle.five {
	left: 400px;
}
.candle.six {
	left: 475px;
}
.candle.seven {
	left: 550px;
}
.candle.eight {
	left: 625px;
}
		</xmp>
	</div>
</div>