<div id="holiday">
	<div class="container">
		<div class="row">
			<a href="/">Back</a><br>
		</div>
	</div>
	<div class="card holidays">
		<h2>Happy Holidays!</h2>
		<div class="rope-one"></div>
		<div class="ornament-one"></div>
		<div class="rope-two"></div>
		<div class="ornament-two"></div>
		<div class="rope-three"></div>
		<div class="ornament-three"></div>
	</div>
</div>



<div class="container">
	<div class="row">
		<h2>HTML Code</h2>
		<xmp>
<div class="card holidays">
	<h2>Happy Holidays!</h2>
	<div class="rope-one"></div>
	<div class="ornament-one"></div>
	<div class="rope-two"></div>
	<div class="ornament-two"></div>
	<div class="rope-three"></div>
	<div class="ornament-three"></div>
</div>
		</xmp>

		<br><br><br>
		<h2>CSS Code</h2>
		<xmp>
.holidays h2 {
	position: absolute;
	top: 50px;
	right: 50px;
}

.ornament-one {
	width: 250px;
	height: 250px;
	position: absolute;
	top: 200px;
	left: 100px;
	background: maroon;
	border-radius: 125px;
}

.rope-one {
	width: 10px;
	height: 400px;
	background: white;
	position: absolute;
	top: 0;
	left: 220px;
}

.ornament-two {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 290px;
	left: 270px;
	background: crimson;
	border-radius: 75px;
}

.rope-two {
	width: 10px;
	height: 400px;
	background: white;
	position: absolute;
	top: 0;
	left: 340px;
}

.ornament-three {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 180px;
	left: 360px;
	background: forestgreen;
	border-radius: 100px;
}

.rope-three {
	width: 10px;
	height: 350px;
	background: white;
	position: absolute;
	top: 0;
	left: 450px;
}
		</xmp>
	</div>
</div>