<div id="holiday">
	<div class="container">
		<div class="row">
			<a href="/">Back</a><br>
		</div>
	</div>
	<div class="card holidays">
		<h2>Happy Holidays!</h2>
		<div class="rope-one"></div>
		<div class="ornament-one"></div>
		<div class="rope-two"></div>
		<div class="ornament-two"></div>
		<div class="rope-three"></div>
		<div class="ornament-three"></div>
	</div>
</div>