<div id="project">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Welcome to the holiday card project!</h1><br><br>
				<a href="/signin">Log In</a>
				<% if signed_in? %>
					<%= link_to "Log out", signout_path, method: "delete", class: 'login' %>
				<% end %>

				<a href="/holiday">Holiday Card</a>
				<div class="card holidays">
					<h2>Happy Holidays!</h2>
					<div class="rope-one"></div>
					<div class="ornament-one"></div>
					<div class="rope-two"></div>
					<div class="ornament-two"></div>
					<div class="rope-three"></div>
					<div class="ornament-three"></div>
				</div>

				<a href="/christmas">Christmas Card</a>
				<div class="card christmas">
					<h2>Merry Christmas!</h2>
					<div class="stump"></div>
					<div class="tree"></div>
					<div class="light-one"></div>
					<div class="light-two"></div>
					<div class="light-three"></div>
					<div class="snow"></div>
				</div>


				<a href="/hanukkah">Hannukah Card</a>
				<div class="card hanukkah">
					<h2>Happy Hanukkah!</h2>
					<div class="base"></div>
					<div class="stand"></div>
					<div class="candle one"></div>
					<div class="candle two"></div>
					<div class="candle three"></div>
					<div class="candle four"></div>
					<div class="candle five"></div>
					<div class="candle six"></div>
					<div class="candle seven"></div>
					<div class="candle eight"></div>
				</div>

			</div>
		</div>
	</div>
</div>