<div id="project">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Welcome to the Gramercy Learning Project Portal!</h1>
				<p>Located here are the projects created by students of Gramercy, and their hub for learning and playing around with computer programming!</p>
			</div>
		</div>

		<div class="row userlist">
			<div class="col-sm-8 col-sm-offset-2">
				<% @users.each do |user| %>
					<div class="user">
						<a href="/users/<%= user.id %>"><%= user.username %></a> <% if signed_in? && current_user.username == "bryan"%> &ensp; | &ensp; <a class="new" data-method="put" href="/users/<%= user.id %>/newsite" rel="nofollow">Add Website </a><%= user.websites.count %><% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>