<%= form_for(:session, url: sessions_path) do |f| %>

	<%= f.text_field :username, class: "form-control", placeholder: "Username" %>
	<%= f.password_field :password, class: "form-control", placeholder: "Password" %>

	<div class="button-container">
		<div class="row">
			<div class="col-sm-12">
				<%= f.submit "Sign in", class: "button" %>
			</div>
		</div>
	</div>

<% end %>