/* line 7, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
#project {
  padding-top: 10em;
  text-align: center;
}

/* line 12, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
#project a {
  padding: 1em;
}

/* line 18, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
body {
  width: 100%;
}

/* line 22, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
h1 {
  text-align: center;
}

/* line 27, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.card {
  width: 800px;
  height: 600px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* line 36, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.holidays {
  background: pink;
  border: 5px solid red;
}

/* line 40, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.christmas {
  background: lightsteelblue;
  border: 5px solid darkgreen;
}

/* line 44, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.hanukkah {
  background: lightsteelblue;
  border: 5px solid darkgreen;
}

/*  Holidays Card   */
/* line 54, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.holidays h2 {
  position: absolute;
  top: 50px;
  right: 50px;
}

/* line 60, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.ornament-one {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 200px;
  left: 100px;
  background: maroon;
  border-radius: 125px;
}

/* line 70, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.rope-one {
  width: 10px;
  height: 400px;
  background: white;
  position: absolute;
  top: 0;
  left: 220px;
}

/* line 79, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.ornament-two {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 290px;
  left: 270px;
  background: crimson;
  border-radius: 75px;
}

/* line 89, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.rope-two {
  width: 10px;
  height: 400px;
  background: white;
  position: absolute;
  top: 0;
  left: 340px;
}

/* line 98, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.ornament-three {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 180px;
  left: 360px;
  background: forestgreen;
  border-radius: 100px;
}

/* line 108, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.rope-three {
  width: 10px;
  height: 350px;
  background: white;
  position: absolute;
  top: 0;
  left: 450px;
}

/*  TREE CARD  */
/* line 122, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.christmas h2 {
  position: absolute;
  top: 50px;
  right: 50px;
}

/* line 128, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.tree {
  position: absolute;
  top: 80px;
  left: 125px;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

/* line 138, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.light-one {
  position: absolute;
  left: 240px;
  top: 210px;
  width: 25px;
  height: 25px;
  border-radius: 13px;
}

/* line 146, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.light-two {
  position: absolute;
  left: 300px;
  top: 320px;
  width: 25px;
  height: 25px;
  border-radius: 13px;
}

/* line 154, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.light-three {
  position: absolute;
  left: 240px;
  top: 420px;
  width: 25px;
  height: 25px;
  border-radius: 13px;
}

/* line 163, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.stump {
  background: saddlebrown;
  width: 75px;
  height: 100px;
  position: absolute;
  left: 230px;
  bottom: 50px;
}

/* line 172, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.snow {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  background: white;
}

/*  Hanukkah Card   */
/* line 189, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.hanukkah h2 {
  position: absolute;
  top: 50px;
  text-align: center;
  width: 100%;
}

/* line 196, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.base {
  width: 565px;
  height: 50px;
  position: absolute;
  left: 100px;
  bottom: 100px;
  background: goldenrod;
}

/* line 205, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.stand {
  width: 80px;
  height: 100px;
  background: goldenrod;
  left: 350px;
  bottom: 0;
  position: absolute;
}

/* line 214, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.candle {
  width: 40px;
  height: 300px;
  position: absolute;
  bottom: 150px;
  border-top: 10px solid red;
  background: goldenrod;
}

/* line 223, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.candle.one {
  left: 100px;
}

/* line 226, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.candle.two {
  left: 175px;
}

/* line 229, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.candle.three {
  left: 250px;
}

/* line 232, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.candle.four {
  left: 325px;
}

/* line 235, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.candle.five {
  left: 400px;
}

/* line 238, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.candle.six {
  left: 475px;
}

/* line 241, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.candle.seven {
  left: 550px;
}

/* line 244, /Users/Bryan/Desktop/projects/gramercyproject/app/assets/stylesheets/main.scss */
.candle.eight {
  left: 625px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

