<div id="signup" class="admin">
	<div class="container">
		<div class="row">
			<div class="form col-md-4 col-md-offset-4">
				<h2>Welcome back to Nemo Tile.</h2>
				<h3>You may create a new account below.</h3>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>