<div id="user">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<% if signed_in? %>
					<h1>Hello, <%= @user.username.capitalize %>!</h1>
					<div class="row">
						<div class="col-sm-6">
							<a class="new" data-method="put" href="/users/<%= @user.id %>/christmascard" rel="nofollow">Add Christmas card</a>
						</div>
						<div class="col-sm-6">
							<a class="new" data-method="put" href="/users/<%= @user.id %>/christmascard" rel="nofollow">Add Holiday card</a>
						</div>
					</div>
				<% end %>
				<% if @ccard != nil %>
					<%= render @ccard %>
				<% else %>

				<% end %>
			</div>
		</div>
	</div>
</div>