// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#signup {
	padding-top: 6em;

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1em;
	}

	.form-control {
		margin-bottom: 1em;
	}
}


#user {

	.new {
		display: block;
		text-align: center;
		font-size: 1.5em;
		color: #333;
	}
}